.header {
    width: 110px;
    height: 110px;
    background-color: tomato;
    position: relative;
    margin-left: 40%;
}

.text {
    color: white;
    position: absolute;
    text-align: center;
    margin: 50px 50px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: darkblue;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

.main-body {
    display: flex;
}

.main-bodyText {
    margin: 30px 100px;
}